headerbar button {
  -gtk-icon-shadow: 0 1px 0 alpha(@theme_base_color, .2), 0 0 5px @theme_base_color;
}

/* Light */

labyrinth {
  background: linear-gradient(to bottom, @blue_1, @light_1);
}

floor {
  background-color: @light_5;
  background-image: -gtk-icontheme("view-grid-symbolic");
  color: alpha(@dark_5, .1);
}

ceiling {
  background-color: @light_3;
}

ceiling.light {
  background-color: @yellow_3;
}

wall,
floor,
ceiling {
  box-shadow: inset 1px 1px 0 0 alpha(@light_1, .2),
              inset -1px -1px 0 0 alpha(@dark_5, .2);
}

floor.light {
  background-color: @light_5;
}

wall {
  background-image: -gtk-icontheme("go-up-symbolic");
  color: alpha(@dark_5, .1);
  background-color: @blue_4;
}

wall.left {
  background-color: @blue_5;
}

wall.right {
  background-color: @blue_3;
}

wall.red {
  background-color: @red_4;
}

wall.red.left {
  background-color: @red_5;
}

wall.red.right {
  background-color: @red_3;
}
