labyrinth {
  background: linear-gradient(to bottom, darker(@blue_5), @dark_3);
}

floor {
  background-color: @dark_3;
  color: alpha(@dark_5, .1);
}

ceiling {
  background-color: @dark_1;
}

ceiling.light {
  background-color: @yellow_5;
}

wall,
floor,
ceiling {
  box-shadow: inset 1px 1px 0 0 alpha(@light_1, .05),
              inset -1px -1px 0 0 alpha(@dark_5, .2);
}

floor.light {
  background-color: @light_5;
  box-shadow: inset 1px 1px 0 0 alpha(@light_1, .2),
              inset -1px -1px 0 0 alpha(@dark_5, .2);
}

wall {
  background-color: darker(@blue_4);
}

wall.left {
  background-color: darker(@blue_5);
}

wall.right {
  background-color: darker(@blue_3);
}

wall.red {
  background-color: darker(@red_4);
}

wall.red.left {
  background-color: darker(@red_5);
}

wall.red.right {
  background-color: darker(@red_3);
}
